.main-container {
    display: flex;
}



.header {
    width: 100%;
    height: 4rem;
}

.sidebar {
    background-color: rgb(14, 38, 60);
    background-image: url(../IMG/sidebar-bg.png);
    height: calc(100vh - 4rem);

}

.main {
    width: calc(100% - 3rem);
    height: calc(100vh - 4rem);
    overflow-y: scroll;
}


/* HEADER */

.header-container {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container .col-2,
.col-7 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container .col-3 {
    display: flex;
    justify-content: center;

}

.header-container .col-3 a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #212121;

}


.logo {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(../IMG/mobile-logo.png);
    background-size: cover;
}

a {
    list-style: none;
    text-decoration: none;
}


.fa-question {

    border-radius: 100%;
    background-color: #212121;
}

.black {
    background-color: rgba(0, 0, 0, 0.117);
}

/* HEADER END */

/* MAIN */

.img-fluid {
    width: 2rem;
    height: auto;


}




/* MAIN END */

.sidebar a ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;

}



.sidebar a ul li {
    text-decoration: none;
    list-style: none;
}

.sidebar a ul li i span {
    text-decoration: none;
    list-style: none;
}

.sd-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;
}